// header头部背景色
$headerBgc: #222631;
// 头部logo图标尺寸
$headerLogoSize: 32px;
// 全局背景色
$situationBgc: #fff;
// aside侧边栏背景色
$asideBgc: #ececec;
/* table */
$tbTHH: 53px;
$tbTHTextColor: #858585;
$tbTHTextSize: 16px;
$tbTDH: 53px;
$tbTDTextColor: #2e2e2e;
$tbTDTextSize: 16px;
// 单数行背景色
$tbTRBgc: #f9f9f9;