@import './valuables', './mixin';
.equips{
    // background-color: #333;
    .gw-table{
        td.status{
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #35b468;
                &.warning{
                    background-color: #eb303a;
                }
            }
        }
    }
}