.equip-linkage{
    .fade-enter{
        transition: all 1s;
        opacity: 0;
    }
    .fade-enter-active{
        transition: all 1s;
        opacity: 0;
    }
    .fade-enter-to{
        transition: all 1s;
        opacity: 1;
    }
    .gw-tabs{
        position: relative;
        .spin-icon-load{
            animation: ani-demo-spin 1s linear infinite;
        }
        .linkage{
            position: relative;
            table{
                width: 100%;
                box-shadow: 0px 0px 1px #bababa;
                tr{
                    font-size: 16px;
                    height: 53px;
                    line-height: 53px;
                }
                thead{
                    tr{
                        th{
                            font-weight: normal;
                            color: #858585;
                        }
                    }
                }
                tbody{
                    tr{
                        &:nth-child(odd){
                            background-color: #f9f9f9;
                        }
                        td{
                            text-align: center;
                            color: #323232;
                        }
                    }
                }
            }
        }
        
        .btnbar{
            display: flex;
            padding: 12px;
            justify-content: center;
            .btn{
                height: 31px;
                width: 71px;
                background-color: #05a3e5;
                text-align: center;
                color: #fff;
                line-height: 31px;
                font-size: 14px;
                box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
                margin: 0 12px;
            }
        }
        
        .scene{
            position: relative;
            .panel{
                .form{
                    .ivu-form-item-label{
                        font-size: 18px;
                    }
                    ul{
                        li{
                            font-size: 18px;
                            line-height: 38px;
                            display: flex;
                            justify-content: space-between;
                            .show{
                                span:nth-child(2){
                                    margin-left: 8px;
                                    color: #05a3e5;
                                }
                                span:nth-child(3){
                                    margin-left: 10px;
                                }
                            }
                            .btnbox{
                                margin-left: 10px;
                            }
                        }
                    }
                    .btnbar{
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}