.equip-linkage{
    input.ivu-input{font-size: 14px; height: 40px; line-height: 40px; }
    div.ivu-collapse-content{padding-left: 32px;}
    .fade-enter{
        transition: all 1s;
        opacity: 0;
    }
    .fade-enter-active{
        transition: all 1s;
        opacity: 0;
    }
    .fade-enter-to{
        transition: all 1s;
        opacity: 1;
    }
    .gw-tabs{
        position: relative;
        .spin-icon-load{
            animation: ani-demo-spin 1s linear infinite;
        }
        .linkage{
            position: relative;
            table{
                td.opt{
                    color: #05A2E5;
                    font-size: 18px;
                    i{
                        cursor: pointer;
                        margin: 0 10px;
                    }
                }
            }
        }
        
        .btnbar{
            display: flex;
            padding: 12px;
            margin: 20px auto;
            justify-content: center;
            .btn{
                background-color: #2d8cf0;
                text-align: center;
                color: #fff;
                line-height: 1.5;
                font-size: 16px;
                box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
                margin: 0 12px;
                padding: 6px 26px;
            }
        }
        
        .scene{
            position: relative;
            .panel{
                &:nth-child(even){
                    background-color: #fff;
                }
                .form{
                    .ivu-form-item-label{
                        font-size: 18px;
                    }
                    ul{
                        li{
                            font-size: 18px;
                            line-height: 38px;
                            display: flex;
                            justify-content: space-between;
                            .show{
                                font-size: 1rem;
                                span:nth-child(2){
                                    margin-left: 8px;
                                    color: #05a3e5;
                                }
                                span:nth-child(3){
                                    margin-left: 10px;
                                }
                            }
                            .btnbox{
                                margin-left: 10px;
                                button{width: auto; height: auto;padding: 6px 15px;border-radius: 0;}
                                i{font-size: 16px;}
                            }
                        }
                    }
                    .btnbar{
                        margin-top: 30px;margin-right: 130px;
                        a{font-size: 14px;width: 83px;height: 40px;line-height: 40px;padding: 0;}
                        a.delete{
                            background-color: #ed3f14;
                        }
                    }
                }
            }
        }
    }
}