@import './valuables', './mixin';
.equips{
    .gw-table{
        td.status{
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #35b468;
                &.warning{
                    background-color: #eb303a;
                }
            }
        }
    }
    .tab-set{
        .ivu-card-body{
            .ivu-btn{
                margin: 12px 10px;
            }
        }
    }
}