.equip-linkage{
    
    input.ivu-input{font-size: 14px; height: 40px; line-height: 40px; }
    div.ivu-collapse-content{padding-left: 32px;}
    .fade-enter{
        transition: all 1s;
        opacity: 0;
    }
    .fade-enter-active{
        transition: all 1s;
        opacity: 0;
    }
    .fade-enter-to{
        transition: all 1s;
        opacity: 1;
    }
    .gw-tabs{
        position: relative;
        .spin-icon-load{
            animation: ani-demo-spin 1s linear infinite;
        }
        .extend{
            display: flex;
            align-items: center;
            padding: 0 12px;
            flex-shrink: 0;
            .btn{
                background-color: #2d8cf0;
                text-align: center;
                color: #fff;
                line-height: 1.5;
                font-size: 15px;
                box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
                padding: 4px 20px;

            }
        }
        .linkage{
            width: 100%;
            position: relative;
            height: 100%;
            table{
                thead{
                    th{
                        width: 11%;
                        &:nth-child(1){
                            width: 15%;
                        }
                        &:nth-child(4){
                            width: 8%;
                        }
                        &:nth-child(5){
                            width: 15%;
                        }
                        &:nth-child(9){
                            width: 7%;
                        }
                    }
                }
                tbody{
                    td{
                        width: 11%;
//                      white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
                        overflow : hidden;
                        display: -webkit-box;
                        -webkit-box-pack: center;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical;
                        &:nth-child(1){
                            width: 15%;
                        }
                        &:nth-child(4){
                            width: 8%;
                        }
                        &:nth-child(5){
                            width: 15%;
                        }
                        &:nth-child(9){
                            width: 7%;
                        }
                    }
                }
                td.opt{
                    color: #05A2E5;
                    font-size: 18px;
                    i{
                        cursor: pointer;
                        margin: 0 5px;
                    }
                }
            }
        }
        
        .scene{
            height: 100%;overflow-y: auto;position: relative;
            .ivu-collapse{
                border-radius: 0;
                border-top: 0;
                .ivu-collapse-header:hover{
                    background-color: #eee;
                }
            }
            .panel{
                &:nth-child(odd){
                    background-color: #fff;
                }
                .ivu-collapse-header{
                    font-size: 15px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .form{
                    .ivu-form-item-label{
                        font-size: 18px;
                    }
                    ul{
                        min-height: 38px;
                        li{
                            font-size: 18px;
                            line-height: 38px;
                            display: flex;
                            justify-content: space-between;
                            .show{
                                font-size: 1rem;
                                span:nth-child(2){
                                    margin-left: 8px;
                                    color: #05a3e5;
                                }
                                span:nth-child(3){
                                    margin-left: 10px;
                                }
                            }
                            .btnbox{
                                margin-left: 10px;
                                button{width: auto; height: auto;padding: 6px 15px;border-radius: 0;}
                                i{font-size: 16px;}
                            }
                        }
                    }
                    .btnbar{
                        display: flex;
                        justify-content: center;
                        margin-top: 30px;margin-right: 130px;
                        .btn{
                            background-color: #2d8cf0;
                            text-align: center;
                            color: #fff;
                            line-height: 1.5;
                            font-size: 14px;
                            box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
                            padding: 6px 26px;
                            margin: 0 10px;
                        }
                        a.delete{
                            background-color: #ed3f14;
                        }
                    }
                }
            }
        }
    }

}
.ivu-modal .ivu-modal-content > .ivu-modal-body{overflow: inherit;}