@import './valuables';
.home{
    $scheduleLiHeight: 40px;
    $selectEquipColor: #05A2E5; 
    $contentTop: 40px;
    $IconFontSize: 22px;
    $searchHeight: 32px;
    $MenuColor: #999;
    $MenuColorHover: #05A2E5;
    background: url(../../img/home.png) no-repeat center top/ 100% 100%;
   &>h1{font-size: 1.5rem;font-weight: 200;width: 100%;position: absolute; left: 0;top: 5%;text-align: center;}
   &>div.homeContent{width: 100%;height: 100%; position: relative;
   
    &>.homeMenu{width: 100%;position: absolute; bottom: 3%;left: 0;text-align: center;
      &>span{display: inline-block;text-align: center;margin: 2%;white-space: nowrap;
       a{color: #f7f7f7;padding: 20px;display: inline-block;
        background:  #343434;}
       a:hover{color: #2d8cf0;}
       i{font-size: 50px;display: block;} 
      }  
    }
   }
   
}