@import './valuables';
.home{
    $scheduleLiHeight: 40px;
    $selectEquipColor: #05A2E5; 
    $contentTop: 40px;
    $IconFontSize: 22px;
    $searchHeight: 32px;
    $MenuColor: #999;
    $MenuColorHover: #05A2E5;
   &>h1{font-size: 1.5rem;font-weight: 200;height: 10%;text-align: center;padding-top: 2%;}
   &>.homeContent{width: 100%;height: 90%; position: relative;overflow: auto;
      &>li{
           margin-bottom: 50px;
          h5{font-weight: 400;display: inline-block;border-left: 5px solid #2d8cf0;margin-bottom: 40px;text-indent: 10px;letter-spacing: 5px;}
          .homeMenu{
          // &>span:nth-child(1){display: none;}
          &>span{width: 12.3%;height: 110px;margin-bottom: 10px;display: inline-block;text-align: center;position: relative;
              a{color: #f7f7f7;font-size: 12px;width: 90%;max-width: 120px;height: 100%;max-height: 120px;padding: 20px 0;
                display: inline-block;border-radius: 8px;outline: none;
                position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);
                background:  url('~@assets/img/homeMenu.png') center/100% 100%  no-repeat;
                box-shadow: 1px 1px 20px #999;
              }
              a:hover{color: #2d8cf0;}
              i{font-size: 3rem;display: block;margin-bottom: 10%;} 
          }
          &>span.alertBtn {background: url('~@assets/img/addMenu.png') center/90% 120%  no-repeat;cursor: pointer;} 
          }
      }
   }
}
.alertMenu{   &>li{font-size: 0.8rem;
  width: 130px;
  height: 40px;
  line-height: 40px;
  margin-left: 5%;
  display: inline-block;
  float: left;
  span{margin-right: 3px;}
}
&::after{content: "";display: block;clear: both;}
}
// .Modalmenu .ivu-modal-footer{border-top: 0;}