@import './valuables', './mixin';
.gw-index{
    $headH: 66px;
    $asideW: 240px;
    $foldBtnW: 20px;
    $foldBtnH: 60px;

    position: relative;
    height: 100%;
    background-color: $situationBgc;
    .header{
        @include flexBox();
        background-color: $headerBgc;
        height: $headH;
        box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.2);
        .header-logo{
            width: $asideW;
            height: 100%;
            background-color: turquoise;
        }
        .header-opt{
            @include flexGrow(1);
            @include flexBox();
            @include jusContent(flex-end);
            padding-right: 12px;
            color: #fff;
            &>span{
                line-height: $headH - 24px;
                cursor: pointer;
                margin: 12px 4px;
                font-size: 18px;
                padding: 0 8px;
                transition: all 200ms;
                &:hover{
                    color: turquoise;
                }
                &.user{
                    span{
                        margin-right: 6px;
                    }
                    padding-right: 28px;
                    margin-right: 12px;
                    box-shadow: -1px 0px 0px 0px rgba(255,255,255,0.3) inset;
                }
            }
        }
    }
    .main{
        @include flexBox;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        margin-top: $headH;
        flex-wrap: nowrap;
        .nav-left{
            position: relative;
            width: $asideW;
            height: 100%;
            background-color: $asideBgc;
            // box-shadow: 1px 0px 6px 2px rgba(0,0,0,0.2);
            margin-right: $foldBtnW;
            transition: margin 600ms;
            &.close{
                margin-left: -$asideW;
            }
            &.open{
                margin-left: 0px;
            }
            ul{
                li{
                    color: #000;
                    cursor: pointer;
                    text-align: left;
                    height: 60px;
                    line-height: 60px;
                    font-size: 16px;
                    padding-left: 16px;
                    &.router-link-active{
                        box-shadow: 4px 0px 0px 0px turquoise inset;
                    }
                }
            }
            .fold{
                width: $foldBtnW;
                height: $foldBtnH;
                position: absolute;
                left: $asideW;
                border-radius: 0px 6px 6px 0px;
                background-color: turquoise;
                top: 50%;
                margin-top: -30px;
                cursor: pointer;
                color: #333;
                line-height: $foldBtnH / 2;
                text-align: center;
                font-size: 14px;
            }
        }
        .main-body{
            height: 100%;
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}