/*
reset：浏览器默认样式重置
valuables：sass变量
mixin：sass宏mixin
*/
@import '../reset', './valuables', './mixin';
html{
  height: 100%;
  body{
    height: 100%;
    font-family: '微软雅黑';

    div{
      box-sizing: border-box;
    }
    [v-cloak]{
      display: none;
    }
    .gw{
      height: 100%;
      overflow: hidden;
      font-family: 'Avenir', Helvetica, Arial, sans-serif;

      table.gw-table{
        width: 100%;
        box-shadow: 0px 0px 1px #bababa;
        tr{
            font-size: 16px;
            height: 53px;
            line-height: 53px;
        }
        thead{
            tr{
                th{
                    font-weight: normal;
                    color: #858585;
                }
            }
        }
        tbody{
            tr{
                &:nth-child(odd){
                    background-color: #f9f9f9;
                }
                td{
                    text-align: center;
                    color: #323232;
                }
            }
        }
      }
    }
  }
}