@keyframes ani-icon{
    @for $i from 0 through 10 {
        #{$i * 1%} {
            box-shadow: 0 0 #{1px * (100 - $i)} #{1px * (100 - $i)} rgba(0,0,255,(100 - $i) * 0.01);
            transform: translate3d(#{50px * (100 - $i)}, -#{180px * (100 - $i)}, -#{160px * (100 - $i)});
        }
    }
}

@keyframes ani-txt{
    0%{
        transform: scale(0) translate3d(0, 100%, -12000px);
    }
    100%{
        transform: scale(1) translate3d(0, 0, 0px);
    }
}

@keyframes ani-line{
    0%{
        transform: translate3d(-5000px, 0, 0);
    }
    60%{
        transform: translate3d(160px, 0, 0);
    }
    70%{
        transform: translate3d(-100px, 0, 0);
    }
    80%{
        transform: translate3d(40px, 0, 0);
    }
    90%{
        transform: translate3d(-20px, 0, 0);
    }
    100%{
        transform: translate3d(0, 0, 0px);
    }
}

@keyframes ani-txten{
    0%{
        transform: scale(0) translate3d(0, 2000px, -10000px);
    }
    60%{
        transform: scale(1) translate3d(0, 20px, 0);
    }
    70%{
        transform: scale(1) translate3d(0, -10px, 0);
    }
    80%{
        transform: scale(1) translate3d(0, 10px, 0);
    }
    90%{
        transform: scale(1) translate3d(0, -5px, 0px);
    }
    100%{
        transform: scale(1) translate3d(0, 0, 0px);
    }
}